asgiref==3.11.1
audioop-lts==0.2.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
Django==6.0.2
django-debug-toolbar==6.2.0
idna==3.11
PyAudio==0.2.14
pycparser==3.0
python-vlc==3.0.21203
requests==2.32.5
SpeechRecognition==3.15.1
sqlparse==0.5.5
srt==3.5.3
standard-aifc==3.13.0
standard-chunk==3.13.0
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
vosk==0.3.45
websockets==16.0
